.reveal .slide-logo {
  height: 48px !important;
  /* width: 100px!important; */
  /* max-width: unset !important; */
  max-height: unset !important;
}

.reveal .title {
  font-size: 148%!important;
  /* font-variant: small-caps; */
  font-weight: 800;
}

.reveal h2 {
  font-size: 128%!important;
  font-weight: 600;
}

.reveal h3 {
  font-size: 118%!important;
  font-weight: 600;
}

.reveal h4 {
  font-size: 108%!important;
  font-weight: 400;
}

.proj {
  color: #F39225;
}

.ev {
  color: #247E4B;
}

.doc {
  color: #5882C4;
}

.site {
  color: #951E7A;
}

.find {
  color: #85140E;
}


/* 
colours
-------
da
projects #F39225
documents #5882C4
events #247E4B
sites #951E7A
finds #85140E
3d #778E98 

logo
red #E7302A
*/